# GitHub Workflow to build and test the code on a pull request
name: PR Build and Test

# The workflow_dispatch event allows you to run the workflow manually
# The pull_request event triggers the workflow on pull requests to the main branch
on:
  workflow_dispatch:
  pull_request:
    branches:
    - main

jobs:
  # This job will build and run the tests for the project
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    # These permissions are required to restore from GitHub Packages
    permissions:
      contents: read
      packages: read

    # The matrix strategy allows you to run the same steps on multiple operating systems
    # The library should be compatible with all the operating systems in the matrix
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    # The steps below will run in order for each of strageies defined in the matrix
    steps:

    # Installs the most recent versions of the .NET SDKs
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Displays the available .NET SDKs for verification
    - name: Display Available .NET SDKs
      run: dotnet --list-sdks

    # Checks out the code from the repository using a deep clone
    # The deep close in necessary to access the full history of the repository
    # so that the NerdBank.GitVersioning tool can determine the version number
    - name: Checkout code (Deep Clone)
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Configure NuGet to use GitHub Packages as a source
    - name: Configure NuGet for GitHub Packages
      run: |
        dotnet nuget add source https://nuget.pkg.github.com/$(GitHubOrg)/index.json \
        --name GitHub \
        --username ${{ github.actor }} \
        --password ${{ secrets.GITHUB_TOKEN }} \
        --store-password-in-clear-text

    # Restores the dependencies for the project
    - name: Restore dependencies
      run: dotnet restore ./src

    # Builds the project without restoring the dependencies
    - name: Build
      run: dotnet build ./src --no-restore
  
    # Runs all the tests in the project except the integration tests
    # without rebuilding the project
    - name: Test
      run: dotnet test ./src --no-build --verbosity normal --filter "Category!=Integration"

